@font-face
    font-family: 'BwSurco'
    src: url(bw-surco-regular + '.eot?#iefix') format('embedded-opentype'), url(bw-surco-regular + '.otf') format('opentype'), url(bw-surco-regular + '.woff') format('woff'), url(bw-surco-regular + '.ttf') format('truetype'), url(bw-surco-regular + '.svg#BwSurcoDEMO-Regular') format('svg')
    font-weight: 400
    font-style: normal
    font-display: swap

@font-face
    font-family: 'BwSurco'
    src: url(bw-surco-regular-italic + '.eot?#iefix') format('embedded-opentype'), url(bw-surco-regular-italic + '.otf') format('opentype'), url(bw-surco-regular-italic + '.woff') format('woff'), url(bw-surco-regular-italic + '.ttf') format('truetype'), url(bw-surco-regular-italic + '.svg#BwSurcoDEMO-RegularItalic') format('svg')
    font-weight: 400
    font-style: italic
    font-display: swap

@font-face
    font-family: 'BwSurco'
    src: url(bw-surco-medium + '.eot?#iefix') format('embedded-opentype'), url(bw-surco-medium + '.otf') format('opentype'), url(bw-surco-medium + '.woff') format('woff'), url(bw-surco-medium + '.ttf') format('truetype'), url(bw-surco-medium + '.svg#BwSurcoDEMO-Medium') format('svg')
    font-weight: 500
    font-style: normal
    font-display: swap

@font-face
    font-family: 'BwSurco'
    src: url(bw-surco-medium-italic + '.eot?#iefix') format('embedded-opentype'), url(bw-surco-medium-italic + '.otf') format('opentype'), url(bw-surco-medium-italic + '.woff') format('woff'), url(bw-surco-medium-italic + '.ttf') format('truetype'), url(bw-surco-medium-italic + '.svg#BwSurcoDEMO-MediumItalic') format('svg')
    font-weight: 500
    font-style: italic
    font-display: swap

@font-face
    font-family: 'BwSurco'
    src: url(bw-surco-bold + '.eot?#iefix') format('embedded-opentype'), url(bw-surco-bold + '.otf') format('opentype'), url(bw-surco-bold + '.woff') format('woff'), url(bw-surco-bold + '.ttf') format('truetype'), url(bw-surco-bold + '.svg#BwSurcoDEMO-Bold') format('svg')
    font-weight: 700
    font-style: normal
    font-display: swap

@font-face
    font-family: 'BwSurco'
    src: url(bw-surco-bold-italic + '.eot?#iefix') format('embedded-opentype'), url(bw-surco-bold-italic + '.otf') format('opentype'), url(bw-surco-bold-italic + '.woff') format('woff'), url(bw-surco-bold-italic + '.ttf') format('truetype'), url(bw-surco-bold-italic + '.svg#BwSurcoDEMO-BoldItalic') format('svg')
    font-weight: 700
    font-style: italic
    font-display: swap

@font-face
    font-family: 'BwSurco'
    src: url(bw-surco-black + '.eot?#iefix') format('embedded-opentype'), url(bw-surco-black + '.otf') format('opentype'), url(bw-surco-black + '.woff') format('woff'), url(bw-surco-black + '.ttf') format('truetype'), url(bw-surco-black + '.svg#BwSurcoDEMO-Black') format('svg')
    font-weight: 900
    font-style: normal
    font-display: swap

@font-face
    font-family: 'BwSurco'
    src: url(bw-surco-black-italic + '.eot?#iefix') format('embedded-opentype'), url(bw-surco-black-italic + '.otf') format('opentype'), url(bw-surco-black-italic + '.woff') format('woff'), url(bw-surco-black-italic + '.ttf') format('truetype'), url(bw-surco-black-italic + '.svg#BwSurcoDEMO-BlackItalic') format('svg')
    font-weight: 900
    font-style: italic
    font-display: swap
