<div class="categories-image">
    <div class="categories-image__container">
        <div class="categories-image__item">
            <a class="categories-image__link" href="">
                <img src="@img(novidades)" />
                <h3 class="categories-image__label">Novidades</h3>
            </a>
        </div>
        <div class="categories-image__item">
            <a class="categories-image__link" href="">
                <img src="@img(calcados)" />
                <h3 class="categories-image__label">Calçados</h3>
            </a>
        </div>
        <div class="categories-image__item">
            <a class="categories-image__link" href="">
                <img src="@img(acessorios)" />
                <h3 class="categories-image__label">
                    Bolsa e <br />acessórios
                </h3>
            </a>
        </div>
        <div class="categories-image__item">
            <a class="categories-image__link" href="">
                <img src="@img(tamanho)" />
                <h3 class="categories-image__label">
                    Compre por <br />
                    Tamanho
                </h3>
            </a>
        </div>
    </div>
</div>
