<div class="copyright">
    <div class="copyright__container">
        <div class="copyright__left">
            WORLDCOLORS 2018 COPYRIGHT © TODOS OS DIREITOS RESERVADOS
        </div>
        <div class="copyright__right">
            Desenvolvido com <i class="icon-heart"></i> por
            <h3 class="copyright__logo">
                <a href="#">
                    <svg class="desigual"><use xlink:href="#z-desigual" /></svg>
                </a>
            </h3>
        </div>
    </div>
</div>
