<div class="footer__row footer__row--one">
    <div class="footer__nav footer__nav--institucional">
        <h3 class="footer__title">
            Institucional <svg class="ico"><use xlink:href="#z-down" /></svg>
        </h3>
        {{widget type="menubuilder/output" id="10" template="menubuilder/output.phtml"}}
    </div>

    <div class="footer__nav footer__nav--ajuda">
        <h3 class="footer__title">
            Ajuda <svg class="ico"><use xlink:href="#z-down" /></svg>
        </h3>
        {{widget type="menubuilder/output" id="11" template="menubuilder/output.phtml"}}
    </div>

    <div class="footer__nav footer__nav--central">
        <h3 class="footer__title">
            Central de Relacionamento
            <svg class="ico"><use xlink:href="#z-down" /></svg>
        </h3>
        {{widget type="menubuilder/output" id="12" template="menubuilder/output.phtml"}}
    </div>

    <div class="footer__social footer__social--worldcolors">
        <h3 class="footer__title">Fique ligado na gente!</h3>
        {{widget type="interface/widget_social" template="interface/widgets/social.phtml" identificador="socialworldcolors" redes="8,7,9"}}
        <div class="footer__legend">@worldcolorsoficial</div>
    </div>
    <div class="footer__social footer__social--livre">
        <h3 class="footer__title">Se inscreva no canal</h3>
        <svg class="footer__livre"><use xlink:href="#z-livre" /></svg>
        {{widget type="interface/widget_social" template="interface/widgets/social.phtml" identificador="sociallivreparaser" redes="10,11"}}
    </div>
</div>

<div class="footer__row footer__row--two">
    <div class="footer__left">
        <h3 class="footer__store-name">
            Worldcolors
        </h3>
        <div class="footer__address">
            Rua José Antônio Marin, 1010 F, Isabel de Almeida Marin | 16204-012
        </div>
        <div class="footer__tel">+55 18 3642 7964</div>
        <div class="footer__city">Birigui-SP</div>
    </div>
    <div class="footer__right">
        <a class="footer__brand footer__brand--brasil" href="#"
            ><svg class="eco"><use xlink:href="#z-brasil" /></svg
        ></a>
        <a class="footer__brand footer__brand--eco" href="#"
            ><svg class="eco"><use xlink:href="#z-ecofriendly" /></svg
        ></a>
        <a class="footer__brand footer__brand--logo" href="#"
            ><svg class="eco"><use xlink:href="#z-logo" /></svg
        ></a>
    </div>
</div>
