<div class="instagram">
    <div class="instagram__container">
        <div class="instagram__header">
            <h3 class="instagram__title">
                <span>
                    SIGA AS NOSSAS
                    <strong>REDES SOCIAIS</strong>
                </span>
            </h3>
        </div>
        <div class="instagram__main">
            <a href=""><img src="https://fakeimg.pl/386/"/></a>
            <a href=""><img src="https://fakeimg.pl/386/"/></a>
            <a href=""><img src="https://fakeimg.pl/386/"/></a>
        </div>
        <div class="instagram__footer">
            <div class="instagram__social">
                {{widget type="interface/widget_social" template="interface/widgets/social.phtml" identificador="instagramsocial" redes="8,7,9"}}
            </div>
            <div class="instagram__actions">
                <a href="#">@worldcolorsoficial</a>
            </div>
        </div>
    </div>
</div>
