<div class="nosso-mundo">
    <div class="nosso-mundo__banner">
        {{widget type="banner/widget_banner" template="banner/banner.phtml" banner="nosso-mundo"}}
    </div>
    <div class="nosso-mundo__sobre-nos">
        <div class="nosso-mundo__container">
            <h3 class="nosso-mundo__title-vertical"><span>Sobre Nós</span></h3>
            <div class="nosso-mundo__col">
                <h4 class="nosso-mundo__title-one">
                    <span>conheca o</span>
                    <span>nosso</span>
                    <span>mundo</span>
                </h4>
                <div class="nosso-mundo__content">
                    <p>
                        Somos uma marca que vive o mundo da menina,
                        desenvolvendo produtos que encantam desde os seus
                        primeiros dias até o início da vida adulta, como
                        calçados, bolsas e acessórios.
                    </p>
                    <p>
                        Estamos sempre atentos aos desejos e necessidades do
                        nosso público-alvo. Para isso mantemos uma equipe em
                        constante desenvolvimento profissional.
                    </p>
                    <p>
                        Nosso compromisso com a excelência nos motiva a
                        pesquisar e aperfeiçoar continuamente os conceitos de
                        moda, anatomia, flexibilidade e conforto na elaboração
                        das matérias-primas e testes dos produtos e serviços.
                    </p>
                    <p>
                        Com experiência de venda em 36 países e uma gestão
                        inovadora, nossa empresa está preparada para atender
                        clientes de pequeno, médio e grande porte, oferecendo
                        sempre um mix inteligente de produtos e serviços.
                    </p>
                </div>
            </div>
            <div class="nosso-mundo__col">
                <img src="@img(nosso-mundo)" alt="Nosso Mundo" />
            </div>
        </div>
    </div>
    <div class="nosso-mundo__foco">
        <div class="nosso-mundo__container">
            <h3
                class="nosso-mundo__title-vertical nosso-mundo__title-vertical--two"
            >
                <span>Foco, Valores & propósito</span>
            </h3>
            <div class="nosso-mundo__col">
                <h4 class="nosso-mundo__title-two">
                    <span>Ser cor e</span>
                    <span>alegria na</span>
                    <span>vida das</span>
                    <span>meninas</span>
                </h4>
                <h5 class="nosso-mundo__h5">
                    Fé • Amor <br />
                    Respeito • Integridade <br />
                    Comprometimento
                </h5>
                <div class="nosso-mundo__content">
                    <p>
                        Meninas sonhadoras, conectadas e com atitudes, que
                        valorizam a família, a amizade e estão em constante
                        transformação.
                    </p>
                </div>
            </div>
            <div class="nosso-mundo__col">
                <img src="@img(foco)" alt="Foco, Valores & propósito" />
            </div>
        </div>
    </div>
</div>
