color1_font = #FFFFFF
color1_font_hover = #FFFFFF
color1_bg = #e3457b
color1_bg_hover = #e3457b
color2_font = #FFFFFF
color2_font_hover = #FFFFFF
color2_bg = #9cd7d7
color2_bg_hover = #9cd7d7
color3_font = #FFFFFF
color3_font_hover = #FFFFFF
color3_bg = #fcd672
color3_bg_hover = #fcd672
button_font = #FFFFFF
button_font_hover = #FFFFFF
button_bg = #CA213E
button_bg_hover = #990000
// fonts
bw-surco-regular = unquote('/media/interface/files/BwSurcoDEMO-Regular')
bw-surco-regular-italic = unquote('/media/interface/files/BwSurcoDEMO-RegularItalic')
bw-surco-medium = unquote('/media/interface/files/BwSurcoDEMO-Medium')
bw-surco-medium-italic = unquote('/media/interface/files/BwSurcoDEMO-MediumItalic')
bw-surco-bold = unquote('/media/interface/files/BwSurcoDEMO-Bold')
bw-surco-bold-italic = unquote('/media/interface/files/BwSurcoDEMO-BoldItalic')
bw-surco-black = unquote('/media/interface/files/BwSurcoDEMO-Black')
bw-surco-black-italic = unquote('/media/interface/files/BwSurcoDEMO-BlackItalic')
