.categories
    .header > &__navs
        display: none

    &__footer
        &:before
            content: ''
            display: block
            height: 10px
            background: linear-gradient(to right, color1_bg 76%, #fff 76% 82%, color2_bg 82%)

    &__navs
        width: 100%

        .mymenu
            .ul--0
                display: block
                padding: 0 30px

            .li--0, .a--0
                display: block

            .li--0
                margin-bottom: 0

            .a--0
                display: flex
                justify-content: flex-start
                align-items: center
                padding: 0
                font-size: 12px
                font-weight: medium
                text-transform: uppercase
                text-align: left
                line-height: 1
                height: 30px
                color: #999

            .ico
                width: 21px
                height: 21px
                fill: color1_bg

        #menu-minha-conta
            margin: 30px 0 80px

        #menu-footer
            margin: 10px 0

            .li--0:last-child
                .a--0
                    font-weight: bold
                    color: color1_bg

@media (max-width: 992px)
    .categories
        background: #fff

        &__hide
            padding: 0
            width: 48px
            height: 48px
            background: #fff

            &:before
                display: none

            .ico
                fill: color1_bg
                width: 14px
                height: 14px

            &:hover
                background: #fff

                .icon
                    fill: color1_bg

        &__show
            order: -1
            background: #fff
            color: color1_bg
            width: 45px
            height: 75px
            flex-basis: 45px

        &__more
            display: flex
            justify-content: center
            align-items: center
            width: 40px
            height: 40px
            flex: 0 0 40px
            background: #fff
            box-shadow: none
            padding: 0
            stroke: color1_bg

            &:hover
                background: #fff

        &__icon
            width: 12px
            height: 8px
            fill: color1_bg

        .all-ul--0
            padding: 0 30px

        .all-ul--1
            flex: 0 0 100%
            display: none
            padding: 10px

        .all-li--0
            position: relative
            display: flex
            justify-content: flex-start
            align-items: center
            flex-flow: row wrap
            padding-bottom: 0

            &:after
                content: ''
                position: absolute
                bottom: 0
                left: 0
                width: 160px
                height: 1px
                background: #b7b7b7

        .all-a--0
            padding: 0
            font-size: 14px
            font-weight: 900
            text-transform: uppercase
            color: color1_bg

        .all-a--1
            font-size: 14px
            font-weight: medium
            color: #999
            padding: 0

@media (min-width: 993px)
    .categories
        position: static
        flex: 1
        min-width: 0
        background: none
        margin: 0 50px
        width: auto
        height: auto

        &--justify .drop--right .box--1
            right: auto
            left: 0

        &__all, &__navs, &__products, &__block
            display: none !important

        &__more
            display: flex
            justify-content: center
            align-items: center
            padding: 0
            box-shadow: none
            background: #fff

            &:hover
                background: none

        &__icon
            width: 9px
            height: 5px
            fill: color1_bg
            stroke: color1_bg

        .a--0
            padding: 0 5px
            font-size: 14px
            font-weight: medium
            text-transform: uppercase
            color: color1_bg

        .ul--0
            position: static
            justify-content: space-between
            height: 100%

        .li--0
            position: static
            display: flex
            align-items: center
            flex: 0 0 auto
            height: auto

            &:hover
                .a--0
                    background: none
                    color: color1_bg

                .box--1
                    transform: translateY(0)
                    opacity: 1
                    visibility: visible

        .box--1
            width: 100%
            background: color1_bg
            transform: translateY(-20%)
            transition: all 0.2s ease
            opacity: 0
            visibility: hidden

            &:before
                content: ''
                position: absolute
                top: 50%
                left: 0
                width: 100%
                height: 40px
                margin-top: -20px
                background: color2_bg

        .ul--1
            position: relative
            flex: 0 0 100%
            display: flex
            justify-content: flex-start
            align-items: center
            flex-flow: row wrap
            max-width: 970px
            margin: 0 auto
            padding: 30px 20px
            overflow: visible
            background: color1_bg

        .li--1
            min-width: 145px

        .a--1
            font-size: 13px
            font-weight: regular
            text-transform: uppercase
            color: #fff
