.myhelper
    display: none
    justify-content: center
    align-items: center
    min-width: 55px

    &__icon
        --color-1: color1_bg
        --color-2: color2_bg
        width: 30px
        height: 30px

@media (min-width: 993px)
    .myhelper
        display: flex