.product-image-container, .sharing-links
    display: none

.configurable:before
    display: none

.configurable__caption
    font-size: 20px
    font-weight: 900
    color: color1_bg
    opacity: 1
    text-transform: uppercase

.configurable-swatch-list
    justify-content: center

.configurable .configurable-swatch-list
    img
        border: solid 2px color1_bg
        border-radius: 4px

    a
        line-height: 1.5
        border: solid 2px color1_bg
        border-radius: 4px

.add-to-cart-buttons
    text-align: right

.add-to-cart-btn
    display: inline-flex
    justify-content: center
    align-items: center
    padding: 0
    font-size: 33px
    font-weight: 9000
    text-transform: uppercase
    background: color1_bg
    max-width: 270px
    margin-left: auto
    margin-right: 0

.prod
    &__gallery
        position: relative

    &__tamanho
        font-size: 14px
        font-weight: regular
        color: #898989
        margin-bottom: 50px

        a
            font-weight: bold

    &__img
        min-width: 0

    &__image
        position: relative
        z-index: 0

        &--two
            position: absolute
            left: 0
            top: 0
            z-index: 10
            width: 100px
            opacity: 0
            visibility: hidden

            img
                width: 100%
                height: 100%
                object-fit: contain

            .prod__image
                &-item
                    width: 100px
                    height: 100px

    &__shop
        text-align: center

        .qty-wrapper
            display: none !important

        .regular-price, .special-price, .minimal-price
            .price span
                font-size: 47px
                color: color1_bg

        .old-price
            .price span
                font-size: 30px

        .price-box-parcelado .preco-parcelado-sem-juros
            font-size: 22px
            font-weight: bold

            .num, .value
                span
                    font-size: 22px
                    font-weight: bold

            .s-juros
                font-weight: regular
                color: #898989

    &__name
        margin-bottom: 20px

        h1
            font-size: 23px
            font-weight: medium
            color: color1_bg

        .sku
            font-size: 14px
            font-weight: regular
            text-transform: uppercase
            color: #898989

.related__subtitle, .related__add-checkbox
    display: none

.prod__description
    text-align: center
    font-size: 16px
    font-weight: regular
    color: #777777

    &-main
        padding: 20px 0

.prod__description-header, .related__title, .upsell__title, .reviews__title
    display: flex
    justify-content: center
    align-items: center
    font-size: 20px
    font-weight: medium
    text-transform: uppercase
    color: color1_bg

    &:before, &:after
        content: ''
        height: 2px
        background: color2_bg
        flex: 1
        min-width: 0

    &:before
        margin-right: 20px

    &:after
        margin-left: 20px

.prod__description-title
    font-weight: medium

@media (max-width: 992px)
    .reviews__content
        display: block

        > div
            margin: 0
            box-shadow: none
            text-align: center

            + div
                margin-top: 20px

@media (min-width: 993px)
    .configurable-swatch-list
        justify-content: flex-end

    .prod
        &__img
            flex: 1

        &__gallery
            padding-left: 140px

        &__image
            &--two
                visibility: visible
                opacity: 1

                .slick-track
                    transform: translate3d(0, 0, 0) !important

        &__shop
            flex: 0 0 380px
            text-align: right

    .sharing-links
        display: block

        .list
            flex-wrap: wrap

            &:before
                content: 'COMPARTILHE COM AS AMIGAS!'
                font-size: 18px
                font-weight: regular
                text-transform: uppercase
                color: color1_bg
                opacity: 1
                flex: 0 0 100%

            li
                display: none
                order: 1

                &.fb-share, &.pt-share, &.wa-share
                    display: block

                &.fb-share
                    order: 3

        a
            width: 48px
            height: 48px
            background: color1_bg !important

        .ico
            width: 30px
            height: 30px

    .prod__description-header, .related__title, .upsell__title, .reviews__title
        &:before
            display: none